[Service]
ExecSearchPath=/usr/local/bin/usr/bin:/bin:%h/.local/bin
# NOTE: "screen -X screen y" not "screen y" because the latter requires a controlling terminal (even though it does not use it).
ExecStart=screen -X screen nag-laptop
